In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('WeatherAUS_Clean.csv', sep = ';')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138542 entries, 0 to 138541
Data columns (total 20 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Date            138542 non-null  object
 1   Location        138542 non-null  object
 2   MinTemp         138542 non-null  float64
 3   MaxTemp         138542 non-null  float64
 4   Rainfall        138542 non-null  float64
 5   Evaporation     138542 non-null  float64
 6   Sunshine        138542 non-null  float64
 7   WindGustDir     128732 non-null  object
 8   WindGustSpeed   138542 non-null  float64
 9   Humidity9am     138542 non-null  float64
 10  Humidity3pm     138542 non-null  float64
 11  Pressure9am     138542 non-null  float64
 12  Pressure3pm     138542 non-null  float64
 13  RainToday       135336 non-null  object
 14  RainTomorrow    135330 non-null  object
 15  year            138542 non-null  int64
 16  month           138542 non-null  int64
 17  day             138542 non-null  int64
 18  week            138542 non-null  int64
 19  WindGustDirStr  128732 non-null  object
dtypes: float64(10), int64(4), object(6)
memory usage: 21.1+ MB

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,RainToday,RainTomorrow,year,month,day,week,WindGustDirStr
0,2009-01-01,Albury,11.3,26.5,0.0,9.8,12.9,WNW,56.0,46.0,26.0,1004.5,1003.2,No,No,2009,1,1,1,WNW
1,2009-01-02,Albury,9.6,23.9,0.0,11.0,5.9,W,41.0,44.0,22.0,1014.4,1013.1,No,No,2009,1,2,1,W
2,2009-01-03,Albury,10.5,28.8,0.0,9.0,0.5,SSE,26.0,43.0,22.0,1018.7,1014.8,No,No,2009,1,3,1,SSE
3,2009-01-04,Albury,12.3,34.6,0.0,5.4,11.3,WNW,37.0,41.0,12.0,1015.1,1010.3,No,No,2009,1,4,1,WNW
4,2009-01-05,Albury,12.9,35.8,0.0,10.0,12.2,WNW,41.0,41.0,9.0,1012.6,1009.2,No,No,2009,1,5,2,WNW

In [4]:
df.isna().sum().sum()

26038

In [5]:
df['RainToday'].isna().sum()

3206

In [6]:
df['RainTomorrow'].isna().sum()

3212

In [7]:
df.dropna(subset = ['RainToday','RainTomorrow'] , how = 'any', axis = 0, inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 133963 entries, 0 to 138540
Data columns (total 20 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Date            133963 non-null  object
 1   Location        133963 non-null  object
 2   MinTemp         133963 non-null  float64
 3   MaxTemp         133963 non-null  float64
 4   Rainfall        133963 non-null  float64
 5   Evaporation     133963 non-null  float64
 6   Sunshine        133963 non-null  float64
 7   WindGustDir     125303 non-null  object
 8   WindGustSpeed   133963 non-null  float64
 9   Humidity9am     133963 non-null  float64
 10  Humidity3pm     133963 non-null  float64
 11  Pressure9am     133963 non-null  float64
 12  Pressure3pm     133963 non-null  float64
 13  RainToday       133963 non-null  object
 14  RainTomorrow    133963 non-null  object
 15  year            133963 non-null  int64
 16  month           133963 non-null  int64
 17  day             133963 non-null  int64
 18  week            133963 non-null  int64
 19  WindGustDirStr  125303 non-null  object
dtypes: float64(10), int64(4), object(6)
memory usage: 21.5+ MB

In [8]:
df['RainTomorrow'].isna().sum()

0

In [ ]:
# Nous allons étudier les relations et les influences possibles des différentes variables explicatives du dataset, sur 
# la variable cible considérée : RainTomorrow.
#Pour cela, nous effectuerons des tests chi2 entre les variables que nous considèrerons comme catégorielles et la variable cible
#puis des tests ANOVA entre les variables explicatives numériques continues et la variable cible RainTomorrow.

In [9]:
# Etudions si la Direction du vent a une incidence sur la pluviosité du lendemain
# Etudions la contingence entre les deux variables WindGustDir et RainTomorrow
table_contingence = pd.crosstab(df['WindGustDir'], df['RainTomorrow'])
table_contingence

RainTomorrow    No   Yes
WindGustDir
E             7201  1273
ENE           6407  1222
ESE           5691  1130
N             6245  2260
NE            5589  1257
NNE           4811  1408
NNW           3865  1547
NW            4888  2047
S             6710  1912
SE            7205  1642
SSE           6832  1626
SSW           6564  1821
SW            6818  1701
W             6943  2505
WNW           5451  2142
WSW           6605  1985

In [10]:
# Pour cela, effectuons un test de chi2 pour cette table de contingence.
# L'Hypothèse H0 est donc: WindGustDir et RainTomorrow sont indépendantes.
from scipy.stats import chi2_contingency
resultat_chi2 = chi2_contingency(table_contingence)
print(resultat_chi2)
statistique = resultat_chi2[0]
p_value = resultat_chi2[1]
degre = resultat_chi2[2]
print('Statistique du test chi2:', statistique)
print('p_value du test chi2:', p_value)
print('Degré de liberté du test chi2:', degre)

(1451.9177759789013, 1.1162380559753806e-300, 15, array([[6615.71590465, 1858.28409535],
       [5956.01801234, 1672.98198766],
       [5325.20629993, 1495.79370007],
       [6639.91783916, 1865.08216084],
       [5344.72398905, 1501.27601095],
       [4855.22034588, 1363.77965412],
       [4225.18934104, 1186.81065896],
       [5414.20696232, 1520.79303768],
       [6731.26062425, 1890.73937575],
       [6906.91982634, 1940.08017366],
       [6603.22458361, 1854.77541639],
       [6546.23293137, 1838.76706863],
       [6650.84774507, 1868.15225493],
       [7376.12507282, 2071.87492718],
       [5927.91254   , 1665.08746   ],
       [6706.27798217, 1883.72201783]]))
Statistique du test chi2: 1451.9177759789013
p_value du test chi2: 1.1162380559753806e-300
Degré de liberté du test chi2: 15

In [11]:
# La p_value étant bien inférieure à 5%, on rejette l'Hypothèse H0 qui dit que les 2 variables sont indépendantes.
# Pour calculer le niveau de corrélation entre les 2 variables WindGustDir et RainTomorrow, on calcule le V de Cramer
# Définissons la fonction V_Cramer

def V_Cramer (table_contingence, N):
#r étant le nombre de colonnes de la table de contingence
    r = table_contingence.shape[1]
    r_tilde = table_contingence.shape[1]-((table_contingence.shape[1]-1)**2/(N-1))
                                          
#l étant le nombre de lignes de la table de contingence
    k = table_contingence.shape[0]
    k_tilde = table_contingence.shape[0]-((table_contingence.shape[0]-1)**2/(N-1))

    Phi2 = max(0,(statistique/N)-((k-1)*(r-1)/(N-1)))

    V = np.sqrt(Phi2/(min(k_tilde-1,r_tilde-1)))

    return V

V_Cramer(table_contingence,df.shape[0])

0.10356789048117582

In [ ]:
# Le V_cramer n'est pas très élevé (pas très proche de 1), on en déduit qu'il n'y a pas une forte corrélation entre ces 
# 2 variables.

In [12]:
# Etudions si la Vitesse du vent a une incidence sur la pluviosité du lendemain
df['WindGustSpeed'].value_counts()
# La variable WindGustSpeed possède uniquement 66 valeurs sur les 138 542 entrées, donc elle peut être consudérée comme une 
# variable catégorielle
# Nous allons donc effectuer le même test de chi_2 sur la table de contingence de WindGustSpeed et de RainTomorrow que 
# précédemment

35.0     9067
39.0     8666
31.0     8345
37.0     8016
33.0     7866
         ...
135.0       2
122.0       2
126.0       2
124.0       2
130.0       1
Name: WindGustSpeed, Length: 66, dtype: int64

In [13]:
#Etudions la contingence entre les deux variables WindGustSpeed et RainTomorrow
table_contingence = pd.crosstab(df['WindGustSpeed'], df['RainTomorrow'])
table_contingence

RainTomorrow    No  Yes
WindGustSpeed
7.0              5    3
9.0             44    5
11.0           127   23
13.0           390   71
15.0           688  106
...            ...  ...
122.0            1    1
124.0            1    1
126.0            1    1
130.0            0    1
135.0            0    2

[66 rows x 2 columns]

In [14]:
# Effectuons un test de chi2 pour cette table de contingence.
# L'Hypothèse H0 est donc: WindGustSpeed et RainTomorrow sont indépendantes.

resultat_chi2 = chi2_contingency(table_contingence)
print(resultat_chi2)
statistique = resultat_chi2[0]
p_value = resultat_chi2[1]
degre = resultat_chi2[2]
print('Statistique du test chi2:', statistique)
print('p_value du test chi2:', p_value)
print('Degré de liberté du test chi2:', degre)

(7775.34464917488, 0.0, 65, array([[6.22380807e+00, 1.77619193e+00],
       [3.81208244e+01, 1.08791756e+01],
       [1.16696401e+02, 3.33035988e+01],
       [3.58646940e+02, 1.02353060e+02],
       [6.17712951e+02, 1.76287049e+02],
       [1.03393012e+03, 2.95069885e+02],
       [1.32878302e+03, 3.79216978e+02],
       [2.02662750e+03, 5.78372498e+02],
       [2.19467032e+03, 6.26329681e+02],
       [3.26672126e+03, 9.32278741e+02],
       [3.76306995e+03, 1.07393005e+03],
       [5.02650299e+03, 1.43449701e+03],
       [5.37036839e+03, 1.53263161e+03],
       [6.49220979e+03, 1.85279021e+03],
       [6.11955928e+03, 1.74644072e+03],
       [7.05390847e+03, 2.01309153e+03],
       [6.23625568e+03, 1.77974432e+03],
       [6.74194009e+03, 1.92405991e+03],
       [5.64499392e+03, 1.61100608e+03],
       [5.08407321e+03, 1.45092679e+03],
       [4.14739010e+03, 1.18360990e+03],
       [4.07114845e+03, 1.16185155e+03],
       [3.90077171e+03, 1.11322829e+03],
       [3.80663661e+03, 1.08636339e+03],
       [3.00921120e+03, 8.58788800e+02],
       [2.71669222e+03, 7.75307779e+02],
       [2.10753701e+03, 6.01462994e+02],
       [1.94571800e+03, 5.55282003e+02],
       [1.53961452e+03, 4.39385480e+02],
       [1.41513836e+03, 4.03861641e+02],
       [1.05649142e+03, 3.01508581e+02],
       [9.65468226e+02, 2.75531774e+02],
       [6.83062935e+02, 1.94937065e+02],
       [7.24295664e+02, 2.06704336e+02],
       [5.92039742e+02, 1.68960258e+02],
       [6.12267119e+02, 1.74732881e+02],
       [4.11549308e+02, 1.17450692e+02],
       [3.97545740e+02, 1.13454260e+02],
       [2.57510059e+02, 7.34899413e+01],
       [2.76959459e+02, 7.90405410e+01],
       [2.17833282e+02, 6.21667177e+01],
       [1.71154722e+02, 4.88452782e+01],
       [1.20586281e+02, 3.44137187e+01],
       [1.09694617e+02, 3.13053828e+01],
       [6.53499847e+01, 1.86500153e+01],
       [7.39077208e+01, 2.10922792e+01],
       [5.60142726e+01, 1.59857274e+01],
       [4.74565365e+01, 1.35434635e+01],
       [4.27886805e+01, 1.22113195e+01],
       [3.81208244e+01, 1.08791756e+01],
       [2.17833282e+01, 6.21667177e+00],
       [2.33392802e+01, 6.66071975e+00],
       [1.63374962e+01, 4.66250383e+00],
       [1.16696401e+01, 3.33035988e+00],
       [1.40035681e+01, 3.99643185e+00],
       [6.22380807e+00, 1.77619193e+00],
       [2.33392802e+00, 6.66071975e-01],
       [6.22380807e+00, 1.77619193e+00],
       [3.88988004e+00, 1.11011996e+00],
       [3.11190403e+00, 8.88095967e-01],
       [3.11190403e+00, 8.88095967e-01],
       [1.55595202e+00, 4.44047983e-01],
       [1.55595202e+00, 4.44047983e-01],
       [1.55595202e+00, 4.44047983e-01],
       [7.77976008e-01, 2.22023992e-01],
       [1.55595202e+00, 4.44047983e-01]]))
Statistique du test chi2: 7775.34464917488
p_value du test chi2: 0.0
Degré de liberté du test chi2: 65

In [15]:
# La p_value étant bien inférieure à 5%, on rejette l'Hypothèse H0 qui dit que les 2 variables sont indépendantes.
# Pour calculer le niveau de corrélation entre les 2 variables WindGustSpeed et RainTomorrow, on calcule le V de Cramer

V_Cramer(table_contingence,df.shape[0])

0.23990874042507135

In [ ]:
#En conclusion, Le V_cramer n'est pas très élevé (pas très proche de 1), on en déduit qu'il n'y a pas une forte corrélation 
# entre les 2 variables WindGustSpeed et RainTomorrow, mais toutefois cette corrélation n'est pas négligeable

In [16]:
# Etudions si l'Humidité à 3 heures de l'après-midi a une incidence sur la pluviosité du lendemain
df['Humidity3pm'].value_counts()
# La variable Humidity3pm possède uniquement 101 valeurs sur les 138 542 entrées, donc elle peut être consudérée comme une 
# variable catégorielle.
# Nous allons donc effectuer le même test de chi_2 sur la table de contingence de Humidity3pm et de RainTomorrow que  
#précédemment

52.0    2622
57.0    2620
55.0    2577
53.0    2576
59.0    2574
        ...
4.0      113
3.0       63
2.0       35
1.0       26
0.0        4
Name: Humidity3pm, Length: 101, dtype: int64

In [17]:
#Etudions la contingence entre les deux variables Humidity3pm et RainTomorrow
table_contingence = pd.crosstab(df['Humidity3pm'], df['RainTomorrow'])
table_contingence

RainTomorrow   No  Yes
Humidity3pm
0.0             4    0
1.0            24    2
2.0            35    0
3.0            62    1
4.0           111    2
...           ...  ...
96.0           45  391
97.0           77  306
98.0          113  456
99.0           59  362
100.0          51  324

[101 rows x 2 columns]

In [18]:
# Effectuons un test de chi2 pour cette table de contingence.
# L'Hypothèse H0 est donc: Humidity3pm et RainTomorrow sont indépendantes.

resultat_chi2 = chi2_contingency(table_contingence)
print(resultat_chi2)
statistique = resultat_chi2[0]
p_value = resultat_chi2[1]
degre = resultat_chi2[2]
print('Statistique du test chi2:', statistique)
print('p_value du test chi2:', p_value)
print('Degré de liberté du test chi2:', degre)

(34067.9934271072, 0.0, 100, array([[3.11190403e+00, 8.88095967e-01],
       [2.02273762e+01, 5.77262378e+00],
       [2.72291603e+01, 7.77083971e+00],
       [4.90124885e+01, 1.39875115e+01],
       [8.79112889e+01, 2.50887111e+01],
       [1.18252353e+02, 3.37476467e+01],
       [1.85936266e+02, 5.30637340e+01],
       [2.34948755e+02, 6.70512455e+01],
       [3.23638019e+02, 9.23619805e+01],
       [3.69538604e+02, 1.05461396e+02],
       [4.49670133e+02, 1.28329867e+02],
       [4.36444541e+02, 1.24555459e+02],
       [5.67144510e+02, 1.61855490e+02],
       [5.60142726e+02, 1.59857274e+02],
       [5.82704030e+02, 1.66295970e+02],
       [6.47276039e+02, 1.84723961e+02],
       [6.56611751e+02, 1.87388249e+02],
       [7.10292096e+02, 2.02707904e+02],
       [6.81506983e+02, 1.94493017e+02],
       [7.77976008e+02, 2.22023992e+02],
       [7.92757552e+02, 2.26242448e+02],
       [8.26988497e+02, 2.36011503e+02],
       [8.82224793e+02, 2.51775207e+02],
       [9.51464658e+02, 2.71535342e+02],
       [9.34349186e+02, 2.66650814e+02],
       [1.02770631e+03, 2.93293693e+02],
       [1.04948964e+03, 2.99510365e+02],
       [1.07205094e+03, 3.05949061e+02],
       [1.11872950e+03, 3.19270500e+02],
       [1.12106343e+03, 3.19936572e+02],
       [1.17707770e+03, 3.35922299e+02],
       [1.18252353e+03, 3.37476467e+02],
       [1.25720923e+03, 3.58790771e+02],
       [1.27043482e+03, 3.62565178e+02],
       [1.27899256e+03, 3.65007442e+02],
       [1.31322350e+03, 3.74776498e+02],
       [1.37701753e+03, 3.92982465e+02],
       [1.40191277e+03, 4.00087233e+02],
       [1.39413301e+03, 3.97866993e+02],
       [1.52249905e+03, 4.34500952e+02],
       [1.49682584e+03, 4.27174160e+02],
       [1.51471929e+03, 4.32280712e+02],
       [1.56217582e+03, 4.45824175e+02],
       [1.59096094e+03, 4.54039063e+02],
       [1.65164307e+03, 4.71356934e+02],
       [1.79245672e+03, 5.11543277e+02],
       [1.78856684e+03, 5.10433157e+02],
       [1.82357576e+03, 5.20424237e+02],
       [1.81035017e+03, 5.16649829e+02],
       [1.84613707e+03, 5.26862932e+02],
       [1.93871621e+03, 5.53283787e+02],
       [1.93793824e+03, 5.53061763e+02],
       [2.03985309e+03, 5.82146906e+02],
       [2.00406620e+03, 5.71933803e+02],
       [1.96205549e+03, 5.59944507e+02],
       [2.00484417e+03, 5.72155827e+02],
       [1.94727395e+03, 5.55726051e+02],
       [2.03829714e+03, 5.81702858e+02],
       [1.97139121e+03, 5.62608795e+02],
       [2.00251025e+03, 5.71489755e+02],
       [1.91926681e+03, 5.47733188e+02],
       [1.89670551e+03, 5.41294492e+02],
       [1.75433590e+03, 5.00664101e+02],
       [1.87492218e+03, 5.35077820e+02],
       [1.75200197e+03, 4.99998029e+02],
       [1.67187044e+03, 4.77129558e+02],
       [1.61041034e+03, 4.59589663e+02],
       [1.51549726e+03, 4.32502736e+02],
       [1.38090741e+03, 3.94092585e+02],
       [1.40580265e+03, 4.01197353e+02],
       [1.33033897e+03, 3.79661026e+02],
       [1.29221815e+03, 3.68781850e+02],
       [1.21908841e+03, 3.47911595e+02],
       [1.04404380e+03, 2.97956197e+02],
       [1.09461224e+03, 3.12387756e+02],
       [9.35127162e+02, 2.66872838e+02],
       [9.22679546e+02, 2.63320454e+02],
       [8.26210521e+02, 2.35789479e+02],
       [8.26988497e+02, 2.36011503e+02],
       [7.86533744e+02, 2.24466256e+02],
       [7.10292096e+02, 2.02707904e+02],
       [6.65169487e+02, 1.89830513e+02],
       [6.47276039e+02, 1.84723961e+02],
       [6.02931406e+02, 1.72068594e+02],
       [5.62476654e+02, 1.60523346e+02],
       [5.12686189e+02, 1.46313811e+02],
       [5.14242141e+02, 1.46757859e+02],
       [5.64032606e+02, 1.60967394e+02],
       [4.94792741e+02, 1.41207259e+02],
       [4.73787389e+02, 1.35212611e+02],
       [4.41112397e+02, 1.25887603e+02],
       [4.58227869e+02, 1.30772131e+02],
       [4.64451677e+02, 1.32548323e+02],
       [4.36444541e+02, 1.24555459e+02],
       [4.06881452e+02, 1.16118548e+02],
       [3.40753492e+02, 9.72465084e+01],
       [3.39197540e+02, 9.68024604e+01],
       [2.97964811e+02, 8.50351888e+01],
       [4.42668349e+02, 1.26331651e+02],
       [3.27527899e+02, 9.34721005e+01],
       [2.91741003e+02, 8.32589969e+01]]))
Statistique du test chi2: 34067.9934271072
p_value du test chi2: 0.0
Degré de liberté du test chi2: 100

In [19]:
# La p_value étant bien inférieure à 5%, on rejette l'Hypothèse H0 qui dit que les 2 variables sont indépendantes.
# Pour calculer le niveau de corrélation entre les 2 variables Humidity3pm et RainTomorrow, on calcule le V de Cramer

V_Cramer(table_contingence,df.shape[0])

0.5035517739266204

In [ ]:
#En conclusion, Le V_cramer montre qu'il y a une  corrélation moyenne
# entre les 2 variables Humidity3pm et RainTomorrow.

In [20]:
df['Sunshine'].value_counts()
# Nous pouvons considérer Sunshine comme une varable catégorielle
# La variable Sunshine possède uniquement 146 valeurs sur les 138 542 entrées, donc elle peut être consudérée comme une 
# variable catégorielle.
# Nous allons donc effectuer le même test de chi_2 sur la table de contingence de Humidity3pm et de RainTomorrow que  
#précédemment

0.000000     5626
10.700000    2319
9.300000     2234
10.800000    1951
10.900000    1935
             ...
14.100000       7
14.300000       5
14.200000       2
7.644828        2
14.500000       1
Name: Sunshine, Length: 146, dtype: int64

In [21]:
# Etudions si le Sunshine de la journée a une incidence sur la pluviosité du lendemain
# Etudions la contingence entre les deux variables Sunshine et RainTomorrow
table_contingence = pd.crosstab(df['Sunshine'], df['RainTomorrow'])
table_contingence

RainTomorrow    No   Yes
Sunshine
0.0           2394  3232
0.1            362   492
0.2            502   564
0.3            439   359
0.4            333   277
...            ...   ...
14.0            15     0
14.1             7     0
14.2             2     0
14.3             5     0
14.5             1     0

[146 rows x 2 columns]

In [22]:
# Effectuons un test de chi2 pour cette table de contingence.
# L'Hypothèse H0 est donc: Sunshine et RainTomorrow sont indépendantes.

resultat_chi2 = chi2_contingency(table_contingence)
print(resultat_chi2)
statistique = resultat_chi2[0]
p_value = resultat_chi2[1]
degre = resultat_chi2[2]
print('Statistique du test chi2:', statistique)
print('p_value du test chi2:', p_value)
print('Degré de liberté du test chi2:', degre)

(20344.11548641271, 0.0, 145, array([[4.37689302e+03, 1.24910698e+03],
       [6.64391511e+02, 1.89608489e+02],
       [8.29322425e+02, 2.36677575e+02],
       [6.20824855e+02, 1.77175145e+02],
       [4.74565365e+02, 1.35434635e+02],
       [4.80789173e+02, 1.37210827e+02],
       [3.92099908e+02, 1.11900092e+02],
       [5.08018333e+02, 1.44981667e+02],
       [4.23218949e+02, 1.20781051e+02],
       [4.30998709e+02, 1.23001291e+02],
       [4.34110613e+02, 1.23889387e+02],
       [3.52423132e+02, 1.00576868e+02],
       [4.62895725e+02, 1.32104275e+02],
       [4.08437404e+02, 1.16562596e+02],
       [4.20107044e+02, 1.19892956e+02],
       [3.99101692e+02, 1.13898308e+02],
       [3.73428484e+02, 1.06571516e+02],
       [3.87432052e+02, 1.10567948e+02],
       [4.23218949e+02, 1.20781051e+02],
       [3.95211812e+02, 1.12788188e+02],
       [3.74206460e+02, 1.06793540e+02],
       [3.99879668e+02, 1.14120332e+02],
       [4.51226085e+02, 1.28773915e+02],
       [4.93236789e+02, 1.40763211e+02],
       [4.32554661e+02, 1.23445339e+02],
       [3.64870748e+02, 1.04129252e+02],
       [4.31776685e+02, 1.23223315e+02],
       [5.11130237e+02, 1.45869763e+02],
       [4.09215380e+02, 1.16784620e+02],
       [3.90543956e+02, 1.11456044e+02],
       [5.59364750e+02, 1.59635250e+02],
       [3.44643372e+02, 9.83566283e+01],
       [5.34469518e+02, 1.52530482e+02],
       [5.04906429e+02, 1.44093571e+02],
       [4.09215380e+02, 1.16784620e+02],
       [4.29442757e+02, 1.22557243e+02],
       [4.68341557e+02, 1.33658443e+02],
       [3.50867180e+02, 1.00132820e+02],
       [5.35247494e+02, 1.52752506e+02],
       [5.45361182e+02, 1.55638818e+02],
       [4.85457029e+02, 1.38542971e+02],
       [4.63673701e+02, 1.32326299e+02],
       [4.45002277e+02, 1.26997723e+02],
       [5.99041526e+02, 1.70958474e+02],
       [5.36803446e+02, 1.53196554e+02],
       [5.01016549e+02, 1.42983451e+02],
       [5.12686189e+02, 1.46313811e+02],
       [5.10352261e+02, 1.45647739e+02],
       [6.11489143e+02, 1.74510857e+02],
       [4.44224301e+02, 1.26775699e+02],
       [5.76480222e+02, 1.64519778e+02],
       [5.17354046e+02, 1.47645954e+02],
       [6.09933191e+02, 1.74066809e+02],
       [5.23577854e+02, 1.49422146e+02],
       [4.89346909e+02, 1.39653091e+02],
       [5.81926054e+02, 1.66073946e+02],
       [5.55474870e+02, 1.58525130e+02],
       [6.49609967e+02, 1.85390033e+02],
       [6.67503415e+02, 1.90496585e+02],
       [5.94373670e+02, 1.69626330e+02],
       [6.79951031e+02, 1.94048969e+02],
       [7.49968872e+02, 2.14031128e+02],
       [6.51943895e+02, 1.86056105e+02],
       [6.79173055e+02, 1.93826945e+02],
       [6.20046879e+02, 1.76953121e+02],
       [6.41830207e+02, 1.83169793e+02],
       [6.86174839e+02, 1.95825161e+02],
       [6.39496279e+02, 1.82503721e+02],
       [7.41411136e+02, 2.11588864e+02],
       [7.92757552e+02, 2.26242448e+02],
       [7.42967088e+02, 2.12032912e+02],
       [7.10292096e+02, 2.02707904e+02],
       [8.67443249e+02, 2.47556751e+02],
       [7.75642080e+02, 2.21357920e+02],
       [6.79173055e+02, 1.93826945e+02],
       [7.21961736e+02, 2.06038264e+02],
       [7.19627808e+02, 2.05372192e+02],
       [1.55595202e+00, 4.44047983e-01],
       [7.81087912e+02, 2.22912088e+02],
       [8.48771825e+02, 2.42228175e+02],
       [7.14181976e+02, 2.03818024e+02],
       [8.62775393e+02, 2.46224607e+02],
       [8.22320641e+02, 2.34679359e+02],
       [9.25013474e+02, 2.63986526e+02],
       [9.13343834e+02, 2.60656166e+02],
       [9.35127162e+02, 2.66872838e+02],
       [8.98562290e+02, 2.56437710e+02],
       [7.76420056e+02, 2.21579944e+02],
       [9.73247986e+02, 2.77752014e+02],
       [1.01292476e+03, 2.89075237e+02],
       [9.11787882e+02, 2.60212118e+02],
       [9.74025962e+02, 2.77974038e+02],
       [1.08838844e+03, 3.10611564e+02],
       [1.31011160e+03, 3.73888402e+02],
       [1.73799840e+03, 4.96001597e+02],
       [1.16618604e+03, 3.32813964e+02],
       [1.36768182e+03, 3.90318177e+02],
       [1.31166755e+03, 3.74332450e+02],
       [1.28988422e+03, 3.68115778e+02],
       [1.49760382e+03, 4.27396184e+02],
       [1.27821458e+03, 3.64785418e+02],
       [1.42369610e+03, 4.06303905e+02],
       [1.44547942e+03, 4.12520577e+02],
       [1.48204430e+03, 4.22955704e+02],
       [1.31789136e+03, 3.76108642e+02],
       [1.32100326e+03, 3.76996738e+02],
       [1.43536574e+03, 4.09634265e+02],
       [1.24787352e+03, 3.56126483e+02],
       [1.80412636e+03, 5.14873637e+02],
       [1.51783119e+03, 4.33168808e+02],
       [1.50538358e+03, 4.29616424e+02],
       [1.50304965e+03, 4.28950352e+02],
       [1.47659846e+03, 4.21401536e+02],
       [1.23775983e+03, 3.53240171e+02],
       [8.72889081e+02, 2.49110919e+02],
       [9.02452170e+02, 2.57547830e+02],
       [6.53499847e+02, 1.86500153e+02],
       [7.74864104e+02, 2.21135896e+02],
       [7.74864104e+02, 2.21135896e+02],
       [6.79173055e+02, 1.93826945e+02],
       [7.00178407e+02, 1.99821593e+02],
       [8.16874809e+02, 2.33125191e+02],
       [6.47276039e+02, 1.84723961e+02],
       [8.25432545e+02, 2.35567455e+02],
       [6.41052231e+02, 1.82947769e+02],
       [6.36384375e+02, 1.81615625e+02],
       [6.44164135e+02, 1.83835865e+02],
       [6.32494495e+02, 1.80505505e+02],
       [8.10651001e+02, 2.31348999e+02],
       [6.35606399e+02, 1.81393601e+02],
       [5.44583206e+02, 1.55416794e+02],
       [8.36324209e+02, 2.38675791e+02],
       [7.80309936e+02, 2.22690064e+02],
       [7.21961736e+02, 2.06038264e+02],
       [5.17354046e+02, 1.47645954e+02],
       [3.29861828e+02, 9.41381725e+01],
       [1.84380314e+02, 5.26196860e+01],
       [1.60263058e+02, 4.57369423e+01],
       [1.10472593e+02, 3.15274068e+01],
       [5.21243926e+01, 1.48756074e+01],
       [2.10053522e+01, 5.99464778e+00],
       [1.16696401e+01, 3.33035988e+00],
       [5.44583206e+00, 1.55416794e+00],
       [1.55595202e+00, 4.44047983e-01],
       [3.88988004e+00, 1.11011996e+00],
       [7.77976008e-01, 2.22023992e-01]]))
Statistique du test chi2: 20344.11548641271
p_value du test chi2: 0.0
Degré de liberté du test chi2: 145

In [23]:
# La p_value étant bien inférieure à 5%, on rejette l'Hypothèse H0 qui dit que les 2 variables sont indépendantes.
# Pour calculer le niveau de corrélation entre les 2 variables Sunshine et RainTomorrow, on calcule le V de Cramer

V_Cramer(table_contingence,df.shape[0])

0.38830711934407386

In [ ]:
#En conclusion, Le V_cramer montre qu'il y a une  corrélation moyenne
# entre les 2 variables Sunshine et RainTomorrow.

In [24]:
# Etudions la corrélation entre les 2 variables RainToday et RainTomorrow
table_contingence = pd.crosstab(df['RainToday'], df['RainTomorrow'])
table_contingence

RainTomorrow     No    Yes
RainToday
No            88198  15786
Yes           16022  13957

In [25]:
# Effectuons un test de chi2 pour cette table de contingence.
# L'Hypothèse H0 est donc: RainToday et RainTomorrow sont indépendantes.

resultat_chi2 = chi2_contingency(table_contingence)
print(resultat_chi2)
statistique = resultat_chi2[0]
p_value = resultat_chi2[1]
degre = resultat_chi2[2]
print('Statistique du test chi2:', statistique)
print('p_value du test chi2:', p_value)
print('Degré de liberté du test chi2:', degre)

(13259.693696399969, 0.0, 1, array([[80897.05724715, 23086.94275285],
       [23322.94275285,  6656.05724715]]))
Statistique du test chi2: 13259.693696399969
p_value du test chi2: 0.0
Degré de liberté du test chi2: 1

In [26]:
# La p_value étant bien inférieure à 5%, on rejette l'Hypothèse H0 qui dit que les 2 variables sont indépendantes.
# Pour calculer le niveau de corrélation entre les 2 variables RainToday et RainTomorrow, on calcule le V de Cramer

V_Cramer(table_contingence,df.shape[0])

0.3146006077871503

In [ ]:
#En conclusion, Le V_cramer montre qu'il y a une corrélation moyenne non négligeable entre les 2 variables RainToday & RainTomorrow.

In [27]:
# Sur les 4 variables MinTemp, MaxTemp Evaporation et Pressure3pm, qui contiennent plus de 350 valeurs chacune, nous allons 
# effectuer des tests ANOVA (les considérant comme des variables numériques continues), pour étudier la relation entre ces
# variables et notre variable cible RainTomorrow
df['Pressure3pm'].value_counts()

1015.6    840
1015.5    824
1015.3    810
1015.1    807
1016.0    806
         ...
982.9       1
981.9       1
1037.6      1
1038.5      1
991.2       1
Name: Pressure3pm, Length: 538, dtype: int64

In [28]:
df['MinTemp'].value_counts()

 9.6     846
 10.2    830
 10.5    826
 12.0    824
 11.0    821
        ...
-8.5       1
 31.9      1
-7.8       1
 30.3      1
 30.5      1
Name: MinTemp, Length: 389, dtype: int64

In [29]:
df['MaxTemp'].value_counts()

 20.0    820
 19.0    793
 19.8    782
 20.4    767
 20.8    764
        ...
 46.2      1
-2.9       1
-4.1       1
 0.7       1
-2.4       1
Name: MaxTemp, Length: 503, dtype: int64

In [30]:
df['Evaporation'].value_counts()

4.0     5656
8.0     4185
3.4     3500
2.2     3404
3.2     3396
        ...
41.8       1
53.6       1
55.4       1
16.5       1
65.4       1
Name: Evaporation, Length: 357, dtype: int64

In [31]:
# ******************************Tests ANOVA ******************************
# Relation entre Pressure3pm et RainTomorrow
#-------------------------------------------
import statsmodels.api

result = statsmodels.formula.api.ols('Pressure3pm~RainTomorrow', data = df).fit()
table = statsmodels.api.stats.anova_lm(result)
table

                    df        sum_sq        mean_sq            F  PR(>F)
RainTomorrow       1.0  3.119523e+05  311952.267224  6765.665458     0.0
Residual      133961.0  6.176693e+06      46.108143          NaN     NaN

In [ ]:
# Du fait que la p_value (PR>F) est <5%, on rejette l'hypothèse H0 qui dit que les 2 variables Pressure3pm et RainTomorrow
# sont indépendantes et on déduit du test que Pressure3pm a un effet statistique significatif sur la variable cible.

In [32]:
# Relation entre MinTemp et RainTomorrow
#---------------------------------------
result = statsmodels.formula.api.ols('MinTemp~RainTomorrow', data = df).fit()
table = statsmodels.api.stats.anova_lm(result)
table

                    df        sum_sq       mean_sq           F         PR(>F)
RainTomorrow       1.0  3.915520e+04  39155.203049  979.732701  2.725632e-214
Residual      133961.0  5.353777e+06     39.965189         NaN            NaN

In [ ]:
# Du fait que la p_value (PR>F) est <5%, on rejette l'hypothèse H0 qui dit que les 2 variables MinTemp et RainTomorrow
# sont indépendantes et on déduit du test que MinTemp a un effet statistique significatif sur la variable cible.

In [33]:
# Relation entre MaxTemp et RainTomorrow
#---------------------------------------
result = statsmodels.formula.api.ols('MaxTemp~RainTomorrow', data = df).fit()
table = statsmodels.api.stats.anova_lm(result)
table

                    df        sum_sq        mean_sq            F  PR(>F)
RainTomorrow       1.0  1.744683e+05  174468.296027  3600.346093     0.0
Residual      133961.0  6.491584e+06      48.458757          NaN     NaN

In [ ]:
# Du fait que la p_value (PR>F) est <5%, on rejette l'hypothèse H0 qui dit que les 2 variables MaxTemp et RainTomorrow
# sont indépendantes et on déduit du test que MaxTemp a un effet statistique significatif sur la variable cible.

In [34]:
# Relation entre Evaporation et RainTomorrow
#---------------------------------------
result = statsmodels.formula.api.ols('Evaporation~RainTomorrow', data = df).fit()
table = statsmodels.api.stats.anova_lm(result)
table

                    df        sum_sq       mean_sq            F  PR(>F)
RainTomorrow       1.0  2.520965e+04  25209.651242  1787.043165     0.0
Residual      133961.0  1.889775e+06     14.106907          NaN     NaN

In [ ]:
# Du fait que la p_value (PR>F) est <5%, on rejette l'hypothèse H0 qui dit que les 2 variables Evaporation et RainTomorrow
# sont indépendantes et on déduit du test que Evaporation a un effet statistique significatif sur la variable cible.

In [ ]:
#-------------------------------------------------------------------------------------------------------------------------------
#              Application d'un modèle de régression logistqiue simple pour prédire la variable cible RainTomorrow
#-------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#Pour cela, il faut apporter encore quelques modifications au fichier de base:
# 1) Remplacer les Yes, No des variables RainToday et RainTomorrow par 1 et 0 respectivement
# 2) remplacer la variable WindGustDir par des variables indicatrices et supprimer la colonne WindGustDirStr
# 3 appliquer une standardisation des variables numériques

In [35]:
df['RainToday'] = df['RainToday'].replace (to_replace = ['Yes','No'], value = [1,0])
df['RainTomorrow'] = df['RainTomorrow'].replace (to_replace = ['Yes','No'], value = [1,0])
df.head(20)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,RainToday,RainTomorrow,year,month,day,week,WindGustDirStr
0,2009-01-01,Albury,11.3,26.5,0.0,9.8,12.9,WNW,56.0,46.0,26.0,1004.5,1003.2,0,0,2009,1,1,1,WNW
1,2009-01-02,Albury,9.6,23.9,0.0,11.0,5.9,W,41.0,44.0,22.0,1014.4,1013.1,0,0,2009,1,2,1,W
2,2009-01-03,Albury,10.5,28.8,0.0,9.0,0.5,SSE,26.0,43.0,22.0,1018.7,1014.8,0,0,2009,1,3,1,SSE
3,2009-01-04,Albury,12.3,34.6,0.0,5.4,11.3,WNW,37.0,41.0,12.0,1015.1,1010.3,0,0,2009,1,4,1,WNW
4,2009-01-05,Albury,12.9,35.8,0.0,10.0,12.2,WNW,41.0,41.0,9.0,1012.6,1009.2,0,0,2009,1,5,2,WNW
5,2009-01-06,Albury,13.7,37.9,0.0,10.0,11.8,W,52.0,33.0,8.0,1010.9,1006.7,0,0,2009,1,6,2,W
6,2009-01-07,Albury,16.1,38.9,0.0,9.0,9.3,W,57.0,34.0,12.0,1007.0,1002.7,0,0,2009,1,7,2,W
7,2009-01-08,Albury,14.0,28.3,0.0,9.8,0.0,W,48.0,43.0,15.0,1011.9,1010.9,0,0,2009,1,8,2,W
8,2009-01-09,Albury,12.5,28.4,0.0,7.6,5.9,NE,37.0,38.0,16.0,1017.8,1013.7,0,0,2009,1,9,2,NE
9,2009-01-10,Albury,17.0,30.8,0.0,7.6,6.1,NE,37.0,36.0,24.0,1013.4,1008.1,0,0,2009,1,10,2,NE
10,2009-01-11,Albury,16.9,32.0,0.0,6.6,8.7,S,31.0,52.0,31.0,1009.9,1006.8,0,0,2009,1,11,2,S
11,2009-01-12,Albury,17.3,34.7,0.0,8.8,11.4,SW,35.0,48.0,16.0,1014.1,1012.1,0,0,2009,1,12,3,SW
12,2009-01-13,Albury,17.2,37.7,0.0,4.2,11.1,NNW,35.0,51.0,19.0,1015.7,1010.9,0,0,2009,1,13,3,NNW
13,2009-01-14,Albury,17.4,43.0,0.0,10.2,13.0,NW,39.0,40.0,8.0,1011.6,1006.9,0,0,2009,1,14,3,NW
14,2009-01-15,Albury,19.8,32.7,0.0,14.2,9.4,WNW,44.0,34.0,28.0,1008.4,1009.2,0,0,2009,1,15,3,WNW
15,2009-01-16,Albury,14.9,26.7,0.0,10.2,10.1,SW,56.0,46.0,20.0,1014.1,1012.7,0,0,2009,1,16,3,SW
16,2009-01-17,Albury,10.5,28.4,0.0,10.4,6.5,SE,33.0,35.0,16.0,1019.7,1017.4,0,0,2009,1,17,3,SE
17,2009-01-18,Albury,11.3,32.2,0.0,5.6,12.7,WNW,28.0,34.0,17.0,1019.7,1016.2,0,0,2009,1,18,3,WNW
18,2009-01-19,Albury,13.9,36.6,0.0,11.0,12.7,WNW,39.0,39.0,10.0,1015.8,1010.6,0,0,2009,1,19,4,WNW
19,2009-01-20,Albury,18.6,39.9,0.0,9.0,12.4,NNW,61.0,36.0,21.0,1010.1,1004.8,0,0,2009,1,20,4,NNW

In [36]:
df = df.drop('WindGustDirStr', axis = 1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 133963 entries, 0 to 138540
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           133963 non-null  object
 1   Location       133963 non-null  object
 2   MinTemp        133963 non-null  float64
 3   MaxTemp        133963 non-null  float64
 4   Rainfall       133963 non-null  float64
 5   Evaporation    133963 non-null  float64
 6   Sunshine       133963 non-null  float64
 7   WindGustDir    125303 non-null  object
 8   WindGustSpeed  133963 non-null  float64
 9   Humidity9am    133963 non-null  float64
 10  Humidity3pm    133963 non-null  float64
 11  Pressure9am    133963 non-null  float64
 12  Pressure3pm    133963 non-null  float64
 13  RainToday      133963 non-null  int64
 14  RainTomorrow   133963 non-null  int64
 15  year           133963 non-null  int64
 16  month          133963 non-null  int64
 17  day            133963 non-null  int64
 18  week           133963 non-null  int64
dtypes: float64(10), int64(6), object(3)
memory usage: 20.4+ MB

In [37]:
# Remplacement de la variable "WindGustDir" par des variables indicatrices
dummies = pd.get_dummies(df['WindGustDir'])
df = pd.concat([df,dummies], axis = 1)
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,Humidity9am,...,NNW,NW,S,SE,SSE,SSW,SW,W,WNW,WSW
0,2009-01-01,Albury,11.3,26.5,0.0,9.8,12.9,WNW,56.0,46.0,...,0,0,0,0,0,0,0,0,1,0
1,2009-01-02,Albury,9.6,23.9,0.0,11.0,5.9,W,41.0,44.0,...,0,0,0,0,0,0,0,1,0,0
2,2009-01-03,Albury,10.5,28.8,0.0,9.0,0.5,SSE,26.0,43.0,...,0,0,0,0,1,0,0,0,0,0
3,2009-01-04,Albury,12.3,34.6,0.0,5.4,11.3,WNW,37.0,41.0,...,0,0,0,0,0,0,0,0,1,0
4,2009-01-05,Albury,12.9,35.8,0.0,10.0,12.2,WNW,41.0,41.0,...,0,0,0,0,0,0,0,0,1,0

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 133963 entries, 0 to 138540
Data columns (total 35 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           133963 non-null  object
 1   Location       133963 non-null  object
 2   MinTemp        133963 non-null  float64
 3   MaxTemp        133963 non-null  float64
 4   Rainfall       133963 non-null  float64
 5   Evaporation    133963 non-null  float64
 6   Sunshine       133963 non-null  float64
 7   WindGustDir    125303 non-null  object
 8   WindGustSpeed  133963 non-null  float64
 9   Humidity9am    133963 non-null  float64
 10  Humidity3pm    133963 non-null  float64
 11  Pressure9am    133963 non-null  float64
 12  Pressure3pm    133963 non-null  float64
 13  RainToday      133963 non-null  int64
 14  RainTomorrow   133963 non-null  int64
 15  year           133963 non-null  int64
 16  month          133963 non-null  int64
 17  day            133963 non-null  int64
 18  week           133963 non-null  int64
 19  E              133963 non-null  uint8
 20  ENE            133963 non-null  uint8
 21  ESE            133963 non-null  uint8
 22  N              133963 non-null  uint8
 23  NE             133963 non-null  uint8
 24  NNE            133963 non-null  uint8
 25  NNW            133963 non-null  uint8
 26  NW             133963 non-null  uint8
 27  S              133963 non-null  uint8
 28  SE             133963 non-null  uint8
 29  SSE            133963 non-null  uint8
 30  SSW            133963 non-null  uint8
 31  SW             133963 non-null  uint8
 32  W              133963 non-null  uint8
 33  WNW            133963 non-null  uint8
 34  WSW            133963 non-null  uint8
dtypes: float64(10), int64(6), object(3), uint8(16)
memory usage: 22.5+ MB

In [39]:
# Remplacement de la variable "Location" par des variables indicatrices
dummies2 = pd.get_dummies(df['Location'], prefix = 'Location')
df = pd.concat([df,dummies2], axis = 1)

In [40]:
df = df.drop('WindGustDir', axis = 1)
df = df.drop('Location', axis = 1)

In [41]:
df = df.drop('Date', axis = 1)

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 133963 entries, 0 to 138540
Data columns (total 79 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   MinTemp                    133963 non-null  float64
 1   MaxTemp                    133963 non-null  float64
 2   Rainfall                   133963 non-null  float64
 3   Evaporation                133963 non-null  float64
 4   Sunshine                   133963 non-null  float64
 5   WindGustSpeed              133963 non-null  float64
 6   Humidity9am                133963 non-null  float64
 7   Humidity3pm                133963 non-null  float64
 8   Pressure9am                133963 non-null  float64
 9   Pressure3pm                133963 non-null  float64
 10  RainToday                  133963 non-null  int64
 11  RainTomorrow               133963 non-null  int64
 12  year                       133963 non-null  int64
 13  month                      133963 non-null  int64
 14  day                        133963 non-null  int64
 15  week                       133963 non-null  int64
 16  E                          133963 non-null  uint8
 17  ENE                        133963 non-null  uint8
 18  ESE                        133963 non-null  uint8
 19  N                          133963 non-null  uint8
 20  NE                         133963 non-null  uint8
 21  NNE                        133963 non-null  uint8
 22  NNW                        133963 non-null  uint8
 23  NW                         133963 non-null  uint8
 24  S                          133963 non-null  uint8
 25  SE                         133963 non-null  uint8
 26  SSE                        133963 non-null  uint8
 27  SSW                        133963 non-null  uint8
 28  SW                         133963 non-null  uint8
 29  W                          133963 non-null  uint8
 30  WNW                        133963 non-null  uint8
 31  WSW                        133963 non-null  uint8
 32  Location_Adelaide          133963 non-null  uint8
 33  Location_Albany            133963 non-null  uint8
 34  Location_Albury            133963 non-null  uint8
 35  Location_AliceSprings      133963 non-null  uint8
 36  Location_BadgerysCreek     133963 non-null  uint8
 37  Location_Ballarat          133963 non-null  uint8
 38  Location_Bendigo           133963 non-null  uint8
 39  Location_Brisbane          133963 non-null  uint8
 40  Location_Cairns            133963 non-null  uint8
 41  Location_Canberra          133963 non-null  uint8
 42  Location_Cobar             133963 non-null  uint8
 43  Location_CoffsHarbour      133963 non-null  uint8
 44  Location_Dartmoor          133963 non-null  uint8
 45  Location_Darwin            133963 non-null  uint8
 46  Location_GoldCoast         133963 non-null  uint8
 47  Location_Hobart            133963 non-null  uint8
 48  Location_Melbourne         133963 non-null  uint8
 49  Location_MelbourneAirport  133963 non-null  uint8
 50  Location_Mildura           133963 non-null  uint8
 51  Location_Moree             133963 non-null  uint8
 52  Location_MountGambier      133963 non-null  uint8
 53  Location_MountGinini       133963 non-null  uint8
 54  Location_Newcastle         133963 non-null  uint8
 55  Location_Nhil              133963 non-null  uint8
 56  Location_NorahHead         133963 non-null  uint8
 57  Location_NorfolkIsland     133963 non-null  uint8
 58  Location_Nuriootpa         133963 non-null  uint8
 59  Location_PearceRAAF        133963 non-null  uint8
 60  Location_Penrith           133963 non-null  uint8
 61  Location_Perth             133963 non-null  uint8
 62  Location_PerthAirport      133963 non-null  uint8
 63  Location_Portland          133963 non-null  uint8
 64  Location_Richmond          133963 non-null  uint8
 65  Location_Sale              133963 non-null  uint8
 66  Location_SalmonGums        133963 non-null  uint8
 67  Location_Sydney            133963 non-null  uint8
 68  Location_SydneyAirport     133963 non-null  uint8
 69  Location_Townsville        133963 non-null  uint8
 70  Location_Tuggeranong       133963 non-null  uint8
 71  Location_Uluru             133963 non-null  uint8
 72  Location_WaggaWagga        133963 non-null  uint8
 73  Location_Walpole           133963 non-null  uint8
 74  Location_Watsonia          133963 non-null  uint8
 75  Location_Williamtown       133963 non-null  uint8
 76  Location_Witchcliffe       133963 non-null  uint8
 77  Location_Wollongong        133963 non-null  uint8
 78  Location_Woomera           133963 non-null  uint8
dtypes: float64(10), int64(6), uint8(63)
memory usage: 25.4 MB

In [43]:
# Standardisation des variables numériques:
df_std = df
num_var = df_std.select_dtypes(include = 'float64')
num = num_var.columns
# on ne prend pas les 'int64', car ces variables correspondent à year, month, day
#Standardisation:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df_std[num] = scaler.fit_transform(df_std[num])
df_std.head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,...,Location_Townsville,Location_Tuggeranong,Location_Uluru,Location_WaggaWagga,Location_Walpole,Location_Watsonia,Location_Williamtown,Location_Witchcliffe,Location_Wollongong,Location_Woomera
0,-0.140020,0.467500,-0.2762,1.176539,1.405235,1.164320,-1.186246,-1.219834,-1.892587,-1.758021,...,0,0,0,0,0,0,0,0,0,0
1,-0.407954,0.098920,-0.2762,1.493928,-0.425009,0.062958,-1.290762,-1.411670,-0.485584,-0.335526,...,0,0,0,0,0,0,0,0,0,0
2,-0.266107,0.793551,-0.2762,0.964947,-1.836911,-1.038404,-1.343020,-1.411670,0.125539,-0.091260,...,0,0,0,0,0,0,0,0,0,0
3,0.017589,1.615768,-0.2762,0.012782,0.986894,-0.230739,-1.447535,-1.891261,-0.386099,-0.737848,...,0,0,0,0,0,0,0,0,0,0
4,0.112154,1.785881,-0.2762,1.229437,1.222211,0.062958,-1.447535,-2.035138,-0.741403,-0.895903,...,0,0,0,0,0,0,0,0,0,0

In [50]:
target = df_std['RainTomorrow']
data = df_std.drop('RainTomorrow', axis = 1)

In [45]:
from sklearn import model_selection
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, test_size = 0.2, random_state = 66)

In [46]:
X_train.isnull().sum().sum()
y_train.isna().sum().sum()
#X_train = X_train.fillna('ffill', axis = 1)
#X_train = X_train.replace('ffill', np.nan)
#X_train = X_train.fillna( method = 'ffill', axis = 1)
#X_train.isnull().sum().sum()

0

In [47]:
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(C = 0.1)
lr.fit(X_train, y_train)

/Users/bernardinotirri/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=0.1, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [157]:
y_pred = lr.predict(X_test)
pd.crosstab(y_test, y_pred, rownames = ['Classe Réelle'], colnames = ['Classe Prédite'])

Classe Prédite      0     1
Classe Réelle
0               19807  1113
1                2932  2941